<div class="mb-3">
  <button color="primary" mat-flat-button>
    <mat-icon>add</mat-icon>
    Agregar Inscripcion
  </button>
</div>

<mat-form-field class="w-full">
  <mat-label>Filtrar por</mat-label>
  <input matInput placeholder="Inscripcion" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource">
  
  <!-- Id Column -->
  <ng-container matColumnDef="id_curso">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let inscripcion"> {{ inscripcion.curso.id }} </td>
  </ng-container>

  <ng-container matColumnDef="nombre_curso">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
  </ng-container>

  <!-- Id Column -->
  <ng-container matColumnDef="id_alumno">
    <th mat-header-cell *matHeaderCellDef>Id</th>
  </ng-container>

  <ng-container matColumnDef="nombre_alumno">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>