<h1 mat-dialog-title>ABM Cursos</h1>
<div mat-dialog-content>
  <form class="grid formgrid" [formGroup]="inscripcionForm">
    <div class="col-12 field">
      <mat-form-field class="w-full">
        <mat-label>Curso</mat-label>
        <input [formControl]="cursoControl" type="text" matInput />
        <mat-error *ngFor="let error of cursoControl.errors | keyvalue">{{
          error | controlErrorMessages
        }}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 field">
      <mat-form-field class="w-full">
        <mat-label>Alumno</mat-label>
        <input [formControl]="alumnoControl" type="text" matInput />
        <mat-error *ngFor="let error of alumnoControl.errors | keyvalue">{{
          error | controlErrorMessages
        }}</mat-error>
      </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button (click)="guardar()" mat-button>Guardar</button>
</div>
