.abm-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.abm-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.abm-container mat-form-field {
  width: 500px;
}

.abm-container form {
  margin: 0.5rem;
}
