<mat-drawer-container class="dashboard-container" autosize>

  <!-- SIDEBAR -->
  <mat-drawer #drawer class="dashboard-sidenav" mode="side">
    <p>Menu Lateral</p>
    <p *ngIf="showFiller">Accion del menu lateral</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Opción menu
    </button>
  </mat-drawer>

  <!--Contenedor-->
  <div class="dashboard-sidenav-content">
    <!--Toolbar-->
    <mat-toolbar color="primary">
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="dashboard-icon"
        aria-label="dashboard icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span> Primera entrega - Gruppo </span>
      <span class="dashboard-spacer"></span>
      <button
        mat-icon-button
        class="dashboard-icon favorite-icon"
        aria-label="dashboard icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        class="dashboard-icon"
        aria-label="dashboard icon-button with bolt icon"
      >
        <mat-icon>bolt</mat-icon>
      </button>
    </mat-toolbar>
    <!--Paginas-->
    <main>
      <app-tablas></app-tablas>
    </main>
  </div>
</mat-drawer-container>
