<mat-drawer-container class="example-container" autosize>

  <!-- SIDEBAR -->
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <!--Contenedor-->
  <div class="example-sidenav-content">
    <!--Toolbar-->
    <mat-toolbar color="primary">
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span> Primera entrega - Gruppo </span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>bolt</mat-icon>
      </button>
    </mat-toolbar>
    <!--Paginas-->
    <main>

      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione necessitatibus, maxime omnis iure accusantium maiores perferendis voluptatem ipsa excepturi incidunt at temporibus libero, consequuntur, expedita hic tempore animi fugit reiciendis!</p>

      <app-tablas></app-tablas>

    </main>
  </div>
</mat-drawer-container>
